<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="CloudFilesUserName" value="USERNAME GOES HERE" />
    <add key="CloudFilesApiKey" value="APIKEYGOES HERE" />
    <add key="snet" value="true" />
    <add key="SiteName" value="ASPXZipIt" />
  </appSettings>
  <system.web>
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </controls>
    </pages>
  </system.web>
</configuration>
